<div class="container">
    <div class="row">
        <div class="col-md-1">
            <label for="x">X coord:</label><span>
                <input type="number" [value]="30">
            </span>

        </div>
        <div class="col-md-1">
            <label for="y">Y coord:</label>
            <input type="number" [value]="56">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="x">Height:</label>
            <input type="number" [value]="30">
        </div>
        <div class="col-md-1">
            <label for="x">Width:</label>
            <input type="number" [value]="30">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="x">Color:</label>
            <input type="text" value="#f1f1f1">
        </div>
        <div class="col-md-1">
            <label for="x">Background:</label>
            <input type="text" value="#0c0c0c">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="x">Border:</label>
            <input type="number" [value]="30">
        </div>
        <div class="col-md-1">
            <label for="x">Shadow:</label>
            <input type="number" [value]="30">
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-1">
            <label for="x">Opacity:</label>
            <input type="number" [value]="30">
        </div>
        <div>
            <hr>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>